<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="html(title, link, content)">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Default</title>
    <th:block th:replace="${link}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles_master.css}">
</head>
<body>
<aside>
    <div class="top">
        <div class="brand">
            <img th:src="@{/images/sidebar-photos/coffee-logo.png}" alt="Coffee Shop Logo">
            <span>Na-Brew Zone</span>
        </div>
        <div class="menu">
            <ul>
                <!-- Home -->
                <li th:replace="~{components/menu_item :: menuItem('/', 'Home', '/images/icons/home_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png', 'home', ${activeMenu})}"></li>

                <!-- Menu -->
                <li th:replace="~{components/menu_item :: menuItem('/menu', 'Menu', '/images/icons/package_2_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png', 'menu', ${activeMenu})}"></li>

                <!-- Add Coffee -->
                <li th:replace="~{components/menu_item :: menuItem('/add', 'Add Coffee', '/images/icons/coffee_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png', 'add', ${activeMenu})}"></li>

                <!-- Log Out -->
                <li th:replace="~{components/menu_item :: menuItem('/logout', 'Log Out', '/images/icons/logout_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png', 'logout', ${activeMenu})}"></li>
            </ul>
        </div>
    </div>

    <div class="user-profile">
        <img th:src="@{/images/sidebar-photos/profile.jpg}" alt="Profile Pic">
        <div>
            <h1>Zaimond Lim</h1>
            <span>Gang Bff lang</span>
        </div>
    </div>
</aside>

<main>
    <div th:replace="${content}"></div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('coffeePicture');
        const fileNameSpan = document.getElementById('file-name');

        fileInput.addEventListener('change', function () {
            if (fileInput.files.length > 0) {
                fileNameSpan.textContent = fileInput.files[0].name;
            } else {
                fileNameSpan.textContent = 'No file chosen';
            }
        });
    });
</script>
</body>
</html>
