<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee List</title>
    <link rel="stylesheet" th:href="@{/css/styles_index.css}">
</head>
<body>

<h1>Coffees <3</h1>

<form action="/search" method="get">
    <label>
        <input type="text" name="keyword" placeholder="Search coffee by name">
    </label>
    <button type="submit">Search</button>
</form>

<br>


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Roast</th>
        <th>Origin</th>
        <th>Decaf</th>
        <th>Stock</th>
        <th>Flavor Notes</th>
        <th>Brew Method</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="coffee : ${coffees}">
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.type}"></td>
        <td th:text="${coffee.size}"></td>
        <td th:text="'₱' + ${coffee.price}"></td>
        <td th:text="${coffee.roastLevel}"></td>
        <td th:text="${coffee.origin}"></td>
        <td th:text="${coffee.isDecaf ? 'Yes' : 'No'}"></td>
        <td th:text="${coffee.stock}"></td>
        <td th:text="${#strings.listJoin(coffee.flavorNotes, ', ')}"></td>
        <td th:text="${coffee.brewMethod}"></td>
        <td class="actions">
            <a th:href="@{/edit?id={id}(id=${coffee.id})}" class="edit">Edit</a>
            <a th:href="@{/delete?id={id}(id=${coffee.id})}" class="delete">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/add" class="add-btn">➕ Add a New Coffee</a>

</body>
</html>
